label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.test-div
{
  padding: 4%;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  background-color: white;
  height: auto;

}

.post-class
{
  color: #263478;
}

.button-plus
{
  color: green;
  font-size: 40px;
  font-weight: bold;
}

.button-minus
{
  color: red;
  font-size: 40px;
  font-weight: bold;
}
.counter
{
  font-size: 20px;
  margin: 10px;
}

.counter-div
{
  float: left;
  width: 70%;
  height: auto;
  
}

.commnet-div
{
  text-align: right;
  float: left;
  width: 30%;
  height: auto;
  font-weight: bold;
}

.commnet-div2
{
  text-align: right;
  margin-left: 50%;
  float: left;
  width: 100%;
  height: auto;
  font-weight: bold;
}
.bottom-bar
{
  width: 100%;
  height: auto;
}

.username
{
  font-weight: bold;
}



.button-24 {
  background: #007BFF;
  border: 1px solid #007BFF;
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 12px;
  min-width: 100px;
  min-height: 30px;
  padding: 12px 14px;
  text-align: center;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #007BFF;
}

.button-24:active {
  opacity: .5;
}

.button-25 {
  background-color: initial;
  border: 1px solid #007BFF;
  border-radius: 6px;
  box-sizing: border-box;
  color: #007BFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 12px;
  min-height: 30px;
  min-width: 100px;
  padding: 12px 14px;
  text-align: center;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
}

.button-25:hover,
.button-25:active {
  background-color: initial;
  background-position: 0 0;
  color: white;
  background-color: #007BFF;
}

.button-25:active {
  opacity: .5;
}